body {
	display: flex;
}
#audio_side {
	flex: 1;	
	background-color: cadetblue;
	
}

#result_side {
	flex: 1;
	background-color: skyblue;
	
}

#audio_container {
	margin: 60px auto;
	width: 80%;
  	height: 300px;
	text-align: center;
}

#result_container {
	margin: 60px auto;
	width: 80%;
  	height: 300px;
	text-align: center;
}